h1{
    color:red ;
 text-align: center;
 font-family: sans-serif;

 }

 div{
    text-align: center;
    
 }
 h2{
    color: purple;
    font-family: sans-serif;
    text-align: center;
   }
   ol{
      margin-left: 40%;
      margin-right:10%;
    }

 p{
   
   font-family: sans-serif;
 
 }